body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FF0000;
   background-image: none;
   border: 2px solid #000000;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 83.33333333%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) { 
}
 @media only screen and (min-width: 768px) and (max-width: 991px) { 
}
 @media only screen and (min-width: 480px) and (max-width: 767px) { 
}
 @media only screen and (min-width: 200px) and (max-width: 479px) { 
}
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#ThemeableMenu1, #ThemeableMenu1 .ui-menu-item a
{
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   text-decoration: none;
}
#ThemeableMenu1 .ui-menu-item a
{
   color: #000000;
}
#ThemeableMenu1 > li
{
   display: inline-block;
   list-style: none;
   width: auto;
}
#ThemeableMenu1 .ui-menu-item-wrapper
{
   line-height: 22px;
   padding: 15px 15px 15px 46px;
}
#ThemeableMenu1 .ui-menu-item-wrapper.has-submenu
{
   padding-right: 35px;
}
#ThemeableMenu1 > .ui-menu-item-wrapper
{
   padding: 15px 31px 15px 46px;
}
#ThemeableMenu1 ul
{
   width: 118px;
}
#wb_ThemeableMenu1 .ui-widget-content
{
   border-color: rgba(255,0,0,1.00);
   background-color: transparent;
   background-image: none;
   color: #000000;
}
#ThemeableMenu1 .ui-state-active
{
   border-color: rgba(0,0,0,1.00);
   background-color: #ECEDF0;
   background-image: none;
}
#ThemeableMenu1 .ui-state-active a
{
   color: #000000;
}
#ThemeableMenu1 .ui-arrow
{
   background-image: none;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
#ThemeableMenu1 .ui-arrow:before
{
   content: "\f105";
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: absolute;
   left: 15px;
   top: 15px;
   width: 16px;
}
#ThemeableMenu1 li
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li a
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu1 li a:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_ThemeableMenu1
{
   z-index: 1111 !important;
}
#DividerLine1
{
   border-color: #FFC000;
   border-style: solid;
   border-bottom-width: 28px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Carousel1
{
   background-color: #D9E2F3;
   background-image: none;
   border: 2px solid #000000;
   border-radius: 2px;
}
#Carousel1 .frame
{
   width: 1349px;
   display: inline-block;
   float: left;
   height: 413px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#wb_Carousel1 .carousel-control-next, #wb_Carousel1 .carousel-control-prev
{
   position: absolute;
   top: 0px;
   left: 0px;
   color: #000000;
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
}
#wb_Carousel1 .carousel-control-next-icon, #wb_Carousel1 .carousel-control-prev-icon 
{
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#wb_Carousel1 .carousel-control-next:focus, #wb_Carousel1 .carousel-control-next:hover, #wb_Carousel1 .carousel-control-prev:focus, #wb_Carousel1 .carousel-control-prev:hover 
{
   color: #000000;
   text-decoration: none;
   outline: 0;
   opacity: .9;
}
#wb_Carousel1 .carousel-control-prev-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#wb_Carousel1 .carousel-control-next-icon 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 47%;
   width: 20px;
   height: 20px;
   z-index: 999;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 47%;
   width: 20px;
   height: 20px;
   z-index: 999;
}
#Carousel1_back img, #Carousel1_next img
{
   border-width: 0;
}
#Carousel1_back a, #Carousel1_next a
{
   cursor: pointer;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url('images/20210529_102232_0000.png');
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url('images/20210529_140902_0000.png');
   background-repeat: repeat;
   background-position: left top;
   background-size: 100% 100%;
}
#Line1
{
   border-color: #FFC000;
   border-style: solid;
   border-bottom-width: 18px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ThemeableButton1
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton1
{
   border-radius: 7px;
   margin: 0;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   margin: 0;
   line-height: 32px;
}
#ThemeableButton1
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton1 :hover
{
   color: #2B2B2B;
}
#ThemeableButton1 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 7px;
   border-top-left-radius: 7px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 7px;
   border-top-right-radius: 7px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #FFF2CC;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #694155;
   background-color: #4472C4;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton1-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton1-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton1-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-visual-focus
{
   box-shadow: none;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ThemeableButton2
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton2
{
   border-radius: 0px;
   margin: 0;
}
#ThemeableButton2
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton2 .ui-button
{
   margin: 0;
   line-height: 40px;
}
#ThemeableButton2
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton2 :hover
{
   color: #2B2B2B;
}
#ThemeableButton2 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton2 .ui-button
{
   background-color: #D9E2F3;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton2 .ui-state-hover, #wb_ThemeableButton2 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #000000;
}
#wb_ThemeableButton2 .ui-state-active, #wb_ThemeableButton2 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton2-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton2 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton2-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton2 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton2-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton2 .ui-visual-focus
{
   box-shadow: none;
}
#ThemeableButton3
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton3
{
   border-radius: 0px;
   margin: 0;
}
#ThemeableButton3
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton3 .ui-button
{
   margin: 0;
   line-height: 40px;
}
#ThemeableButton3
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton3 :hover
{
   color: #2B2B2B;
}
#ThemeableButton3 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton3 .ui-button
{
   background-color: #D9E2F3;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton3 .ui-state-hover, #wb_ThemeableButton3 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton3 .ui-state-active, #wb_ThemeableButton3 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton3-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton3 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton3-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton3 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton3-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton3 .ui-visual-focus
{
   box-shadow: none;
}
#ThemeableButton4
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton4
{
   border-radius: 0px;
   margin: 0;
}
#ThemeableButton4
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton4 .ui-button
{
   margin: 0;
   line-height: 40px;
}
#ThemeableButton4
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton4 :hover
{
   color: #2B2B2B;
}
#ThemeableButton4 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton4 .ui-button
{
   background-color: #D9E2F3;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton4 .ui-state-hover, #wb_ThemeableButton4 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #000000;
}
#wb_ThemeableButton4 .ui-state-active, #wb_ThemeableButton4 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton4-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton4 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton4-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton4 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton4-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton4 .ui-visual-focus
{
   box-shadow: none;
}
#ThemeableButton5
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton5
{
   border-radius: 0px;
   margin: 0;
}
#ThemeableButton5
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton5 .ui-button
{
   margin: 0;
   line-height: 40px;
}
#ThemeableButton5
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton5 :hover
{
   color: #2B2B2B;
}
#ThemeableButton5 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton5 .ui-corner-all, #wb_ThemeableButton5 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton5 .ui-corner-all, #wb_ThemeableButton5 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton5 .ui-button
{
   background-color: #D9E2F3;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton5 .ui-state-hover, #wb_ThemeableButton5 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #000000;
}
#wb_ThemeableButton5 .ui-state-active, #wb_ThemeableButton5 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton5 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton5-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton5 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton5-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton5 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton5-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton5 .ui-visual-focus
{
   box-shadow: none;
}
#ThemeableButton6
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton6
{
   border-radius: 0px;
   margin: 0;
}
#ThemeableButton6
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton6 .ui-button
{
   margin: 0;
   line-height: 42px;
}
#ThemeableButton6
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton6 :hover
{
   color: #2B2B2B;
}
#ThemeableButton6 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton6 .ui-corner-all, #wb_ThemeableButton6 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton6 .ui-corner-all, #wb_ThemeableButton6 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton6 .ui-button
{
   background-color: #D9E2F3;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton6 .ui-state-hover, #wb_ThemeableButton6 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #000000;
}
#wb_ThemeableButton6 .ui-state-active, #wb_ThemeableButton6 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton6 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton6-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton6 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton6-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton6 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton6-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton6 .ui-visual-focus
{
   box-shadow: none;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0px;
   vertical-align: top;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Editbox1
{
   border: 4px solid #5c00d2;
   border-radius: 10px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox2
{
   border: 4px solid #5c00d2;
   border-radius: 10px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox3
{
   border: 4px solid #5c00d2;
   border-radius: 10px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea1
{
   border: 4px solid #5c00d2;
   border-radius: 10px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   box-sizing: border-box;
   line-height: 38px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 10px;
   background-color: #5c00d2;
   background-image: none;
   color: #fff;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Line2
{
   font-size: 0;
}
#Line2
{
   border-width: 0;
   height: 378px;
   width: 8px;
}
#Line3
{
   border-color: #FF0042;
   border-style: solid;
   border-bottom-width: 62px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#ThemeableButton9
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton9
{
   border-radius: 5px;
   margin: 0;
}
#ThemeableButton9
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton9 .ui-button
{
   margin: 0;
   line-height: 36px;
}
#ThemeableButton9
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton9 :hover
{
   color: #2B2B2B;
}
#ThemeableButton9 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton9 .ui-corner-all, #wb_ThemeableButton9 .ui-corner-left
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#wb_ThemeableButton9 .ui-corner-all, #wb_ThemeableButton9 .ui-corner-right
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#wb_ThemeableButton9 .ui-button
{
   background-color: #FFD966;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton9 .ui-state-hover, #wb_ThemeableButton9 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #000000;
}
#wb_ThemeableButton9 .ui-state-active, #wb_ThemeableButton9 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton9 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton9-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton9 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton9-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton9 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton9-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton9 .ui-visual-focus
{
   box-shadow: none;
}
#ThemeableButton7
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 20px;
   font-style: normal;
}
#wb_ThemeableButton7
{
   border-radius: 4px;
   margin: 0;
}
#ThemeableButton7
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton7 .ui-button
{
   margin: 0;
   line-height: 34px;
}
#ThemeableButton7
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton7 :hover
{
   color: #2B2B2B;
}
#ThemeableButton7 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton7 .ui-corner-all, #wb_ThemeableButton7 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton7 .ui-corner-all, #wb_ThemeableButton7 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton7 .ui-button
{
   background-color: #FFD966;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton7 .ui-state-hover, #wb_ThemeableButton7 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #000000;
}
#wb_ThemeableButton7 .ui-state-active, #wb_ThemeableButton7 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton7 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton7-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton7 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton7-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton7 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton7-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton7 .ui-visual-focus
{
   box-shadow: none;
}
#wb_Line4
{
   font-size: 0;
}
#Line4
{
   border-width: 0;
   height: 69px;
   width: 8px;
}
#wb_Line5
{
   font-size: 0;
}
#Line5
{
   border-width: 0;
   height: 9px;
   width: 1367px;
}
#wb_Line6
{
   font-size: 0;
}
#Line6
{
   border-width: 0;
   height: 8px;
   width: 1366px;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ThemeableButton8
{
   font-family: Georgia;
   font-weight: bold;
   font-size: 19px;
   font-style: normal;
}
#wb_ThemeableButton8
{
   border-radius: 0px;
   margin: 0;
}
#ThemeableButton8
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton8 .ui-button
{
   margin: 0;
   line-height: 47px;
}
#ThemeableButton8
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton8 :hover
{
   color: #2B2B2B;
}
#ThemeableButton8 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton8 .ui-corner-all, #wb_ThemeableButton8 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton8 .ui-corner-all, #wb_ThemeableButton8 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton8 .ui-button
{
   background-color: #E5EFF8;
   background-image: none;
   border: 3px solid #000000;
   color: #000000;
}
#wb_ThemeableButton8 .ui-state-hover, #wb_ThemeableButton8 .ui-button:hover
{
   border-color: #000000;
   background-color: #4472C4;
   background-image: none;
   color: #000000;
}
#wb_ThemeableButton8 .ui-state-active, #wb_ThemeableButton8 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton8 .ui-button .ui-icon
{
   background-image: url('images/index-ThemeableButton8-default.png');
   background-position: 0 0;
}
#wb_ThemeableButton8 .ui-button:hover .ui-icon
{
   background-image: url('images/index-ThemeableButton8-hover.png');
   background-position: 0 0;
}
#wb_ThemeableButton8 .ui-button:active .ui-icon
{
   background-image: url('images/index-ThemeableButton8-active.png');
   background-position: 0 0;
}
#wb_ThemeableButton8 .ui-visual-focus
{
   box-shadow: none;
}
#Banner3
{
   background-color: #FFC000;
   background-image: none;
   border: 2px solid #000000;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
   margin: 0;
}
#Banner3 span
{
   display: block;
   height: 27px;
   margin: 15px 0px 15px 0px;
}
#Banner3 .single-char
{
   float: left;
}
#Banner3 div
{
   display: inline-block;
   text-align: center;
}
.Banner3_ShowAnimation
{
   -webkit-animation: animate-border 1000ms linear 0s 1 normal both;
   animation: animate-border 1000ms linear 0s 1 normal both;
}
.Banner3_HideAnimation
{
}
